<% if resource.errors.any? %>
  <div id="error_explanation" class="
  w-full px-8 py-4 mt-2
  rounded-md shadow 
  bg-red-200 text-red-800
  mb-6
  relative
  notice
  ">
    <h2 class="text-md text-red-700 font-semibold">
      <%# I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
       Errors
    </h2>

    <ul class="list-disc list-inside text-sm">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
