<%= javascript_pack_tag 'notices' %>
<div class="
flex justify-center items-center self-center
w-full px-8 py-4
rounded-md shadow 
bg-red-200 text-red-800
mb-6
relative
notice
">
    <%= alert %>
    <div class="
    flex items-center
    mr-6
    z-50 right-0
    cursor-pointer select-none
    absolute 
    close-button
    ">
        <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
        </svg>
    </div>
</div>